
/* ---- VARIABLES ---- */
:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris_oscuro:#666;
    --gris_claro: #ebebeb;
    --verde: #39b54a;
    --negro: black;
}

/* ---- SELECTORES GLOBALES ---- */
*{
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0;
}


/* ---- SELECTORES ETIQUETAS HTML ---- */

header {
    background-color: var(--amarillo);
    border: dotted red 5px;
}

.navbar-top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: dotted grey 5px; 
}

.img-logo {
    max-width: 399px;
    border: dotted black 5px;
}

.navbar-text {
    font-size: 16px;
    border: dotted violet 5px;
}

.navbar-busqueda-barra{
    padding:3px;
    border: none;
    border-radius: 5px;
    
}

.lupa{
    color: white;
    background-color: var(--azul);
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
}

.navbar-bottom {
    display: flex;
    justify-content: space-between;
}

.navbar-bottom-navoptions , .navbar-bottom-loginbar {
    display: flex;
    justify-content: space-between;
}

header ul li a{
    margin: 0px 15px;
    font-size: 16px;
}

.navbar-bottom ul{    
    padding: 0px;
    list-style: none;
    border: dotted blue 5px;
}

li a{
    text-decoration:none;
    font-size: 12px;     
}

.cont-burger-menu{
    text-align: center;
}

.fas.fa-bars{
    color: white;
    background-color: var(--azul);
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
}

.img-banner {
    width: 100%;
    border: none;
}


main{
    width: 90%;
    margin: 0 auto;
     
}

p, article{
    font-size: 12px;
}

.fas.fa-truck{
    border-style: solid;
    border-color: var(--verde);
    padding: 10px;
    border-radius: 100px;
    color: var(--verde);
}

.articulo{
    margin: 10px 0px 10px 0px;
    background-color: var(--gris_claro);
    text-align: center;    
}

.img-producto{
    margin: 5px;

}

.detalle-producto{
    margin: 10px 0px 10px 0px;
    border-top: solid 1px var(--gris_claro);
    background-color: white;
    text-align: left;
}

.precio{
    font-size: 18px;
}

.titular{
    font-size: 24px;
    color: #666;
}

.descuento{
    font-size: 16px;
    color:var(--verde);
}

.descripcion{
    font-size: 16px;
    color:var(--gris_oscuro)
}

footer {
    text-align: center;
}

.text-copy {
    background-color: var(--gris_claro);
    padding: 15px 0px;
}

