/* ---- VARIABLES ---- */
:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris_oscuro: #666;
  --gris_claro: #ebebeb;
  --verde: #39b54a;
  --negro: black;
}

/* ---- SELECTOR GLOBALES ---- */
* {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
  padding: 0px;
}

/* ---- SELECTORES ETIQUETAS HTML ---- */

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--gris_claro);
}

header {
  background-color: var(--amarillo);
}

.navbar-top {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.logo {
  width: 50%;
}

.img-logo {
  width: 100%;
}

.form-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 5px 0px;
  width: 50%;
}

.navbar-text {
  font-size: 12px;
  text-align: center;
  margin: 5px 0px 5px 0px;
  width: 100%;
}

.barra-busqueda {
  border: none;
  border-radius: 5px;
  padding: 3px;
  width: 70%;
}

button {
  padding: 0px;
  border: none;
  border-radius: 5px;
}

.lupa-busqueda {
  color: white;
  background-color: var(--azul);
  padding: 5px;
  margin: auto;
  border-radius: 5px;
}

header ul li a {
  margin: 0px;
  font-size: 12px;
}

.navbar-bottom {
  display: none;
}

.navbar-bottom ul {
  padding: 0px;
  list-style: none;
}

li a {
  text-decoration: none;
  font-size: 12px;
}

.cont-burger-menu {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.burguer {
  color: white;
  background-color: var(--celeste);
  padding: 5px;
  border-radius: 5px;
  font-size: 25px;
  margin: 0 auto;
}

.img-banner {
  width: 100%;
  margin: 0px;
}

main {
  background-color: var(--gris_claro);
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.articulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.articulo:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.articulo:hover .detalle-producto .descripcion {
  display: block;
}

.articulo div i {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: -15px;
  font-size: 16px;
  border-style: solid;
  border-color: var(--verde);
  text-align: center;
  border-radius: 50%;
  color: var(--verde);
  transition: transform 0.5s;
}

.articulo:hover div i {
  transform: rotate(-90deg);
}

.img-producto {
  width: 100%;
}

.detalle-producto {
  border-top: solid 1px var(--gris_claro);
  background-color: white;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
  position: relative;
}

.cont-precio-desc {
  display: flex;
  justify-content: flex-start;
}

.precio {
  font-size: 18px;
  flex-grow: 0.3;
}

.titular {
  font-size: 24px;
  color: #666;
}

.descuento {
  font-size: 16px;
  color: var(--verde);
}

.descripcion {
  font-size: 16px;
  color: var(--gris_oscuro);
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
}

footer article {
  margin: 15px 0px 15px 0px;
  text-align: center;
}

footer article i {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--celeste);
}

footer article i:hover {
  color: var(--verde);
}

.text-copy {
  background-color: var(--gris_claro);
  padding: 15px 0px;
  font-size: 12px;
}

/* ---------- REGISTER.HTML ---------- */

.formulario {
  width: 100%;
  margin-top: 20px;
}
.form-registro {
  width: 100%;
}

.form-registro ul li input {
  border: none;
  border-radius: 5px;
}

.form-registro ul li {
  list-style: none;
  padding: 3px;
}

.form-registro button {
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--celeste);
  color: white;
  width: 100px;
  height: 30px;
}

/* ---------- LOGIN.HTML ---------- */

.form-login {
  width: 100%;
  text-align: center;
}

.form-login ul li input {
  border: none;
  border-radius: 5px;
  width: 50%;
  height: 30px;
}

.form-login ul li {
  list-style: none;
  margin-top: 15px;
  padding: 3px;
}

.boton_enviar {
  margin-top: 15px;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--celeste);
  color: white;
  width: 50%;
  height: 30px;
}
.boton_enviar:hover {
  background-color: #0022aa;
}

/* ------------------------------------------------------- */

/* ---- MEDIA QUERIES ---- */

/* ---- Nav Tablets ---- */

@media (min-width: 361px) {
  .navbar-top {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .logo {
    width: 30%;
  }

  .form-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 5px 0px;
    width: 30%;
  }

  .navbar-text {
    font-size: 12px;
    text-align: center;
    margin: 5px 0px 5px 0px;
    width: 30%;
  }

  .navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .navbar-bottom ul {
    display: flex;
    flex-direction: row;
  }

  .navbar-bottom ul li {
    margin: 0px 10px 0px 10px;
  }

  .cont-burger-menu {
    display: none;
  }

  .cont-producto-ultima-visita {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .articulo {
    margin: 5px;
    width: 45%;
  }

  .articulo .descripcion {
    display: block;
  }
  .articulo {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
}

/* ---- Nav Desktops ---- */

@media (min-width: 769px) {
  .navbar-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .articulo {
    margin: 5px;
    width: 20%;
  }

  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  footer article {
    width: 30%;
  }
}
